@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

* {
	box-sizing: border-box;
	font-size: 16px;
	overflow-wrap: break-word;
}

body {
	background: white;
	color: black;
	font-family: "Geist";
	font-weight: 350;
	height: 100vh;
	margin: 0;
	padding: 0;
	width: 100vw;
}

:where(input) {
	font: inherit;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4rem;
	width: min(80vw, 30rem);
}

img#logo {
	margin-bottom: 3rem;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

section#input {
	position: relative;
	width: 100%;
}

img#icon {
	color: lightgrey;
	height: 1.5rem;
	left: 1.5rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1.5rem;
}

input {
	border: 1px solid lightgrey;
	border-radius: 999px;
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.035) 0px 4px 20px 0px, rgba(31, 31, 30, 0.15) 0px 0px 0px 0.5px;
	font-size: 1.5rem;
	outline: none;
	padding: 1rem 4rem;
	width: 100%;
}

section#output {
	padding: 3rem 0;
}

div + div {
	margin-top: 3rem;
}

h2 {
	font-weight: 350;
	font-size: 1rem;
	line-height: 1.5;
	margin-bottom: 1rem;
}

p {
	font-weight: 450;
	font-size: 1rem;
}
